.byebug_history
.env*
.git
.gitignore
.dockerignore
.travis.yml
Procfile*
docker-compose.*
Dockerfile
coverage/*
log/*
node_modules/*
public/assets/*
storage/*
public/packs/*
public/packs-test/*
tmp/*
/config/database.yml
