/* // @import "font-awesome"; */
@import '~bootstrap/scss/bootstrap';
@import "../src/stylesheets/sticky-footer.scss";
@import "../src/stylesheets/announcements.scss";

/* // Fixes bootstrap nav-brand container overlap */
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

/* // Masquerade alert shouldn't have a bottom margin */
body>.alert {
  margin-bottom: 0;
}
