%footer.footer.text-muted.bg-light
  .container
    %span
      = "©#{Date.today.year} Your Company"
    %ul.list-inline.mb-0.float-right
      %li.list-inline-item.mr-3
        = link_to "Terms", terms_path
      %li.list-inline-item.mr-3
        = link_to "Privacy", privacy_path
