.text-center
  = image_pack_tag "media/src/images/undraw_oss.svg", class: "w-50"
  %h1.mt-4 Welcome to Maintainer Seeker!
  %p.lead
    Use this as a way to find a new maintainer for your open source project.
