= image_pack_tag "media/src/images/undraw_oss.svg", class: "w-3/4 mx-auto"
.text-center.mt-8
  %h1.text-5xl.font-medium Welcome to Maintainer Seeker!
  %p Use this as a way to find a new maintainer for your open source project.
